@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');

.container{
  display: flex;
  flex-direction: column;
  margin: 1em;
}

.div_button{
  display: flex;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #292929;
  border: none;
  cursor: pointer;
}

.svgIcon {
  width: 12px;
  transform: rotate(-90deg);
}

.svgIcon path {
  fill: #f0f0f0;
}

.content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 1em;
}

.div_img{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img{
  position: relative;
  width: 250px;
  border-radius: 18px;
}

.name{
  font-family: "Rowdies", sans-serif;
  color: #161616;
}

.h2{
  position: absolute;
  margin-top: 235px;
  padding: 0 10px;
  color: #f0f0f0;
  border-radius: 5px;
}

.info{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.properties {
  display: flex;
  justify-content: center;
  font-size: 1.1em;
  color: #7777772d;
}

.h3{
  margin: 0;
  padding: 0 20px;
  color: #777777c5;
}

.data{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  width: 100%;
}

.info_data{
  margin: 0 10px;
  border-radius: 10px;
  font-size: 1.2em;
  padding: 10px;
  background-color: #dddcdc;
  color: #777777;
  width: 30%;
}

.h4{
  flex-grow: 1;
  margin: 0 10px;
  border-radius: 10px;
  font-size: 1.2em;
  padding: 10px;
  background-color: #e7e6e6;
  color: #777777;
}

.alive{
  border: 3px solid #008000;
  background-color: #008000;
}

.dead{
  border: 3px solid #ff0000;
  background-color: #ff0000;
}

@media screen and (min-width: 768px) {
  .container{
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2em;
  }

  .content{
    flex-grow: 1;
    flex-direction: row;
  }

  .div_button{
    margin-left: 1em;
  }

  .div_img{
    margin-right: 2em;
  }
}
