.container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.selectContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 98%;
}

.select {
  background-color: #292929;
  color: #fff;
  border: none;
  border-radius: 5%;
  padding: 10px;
  margin: 1em;
  text-decoration: none;
  width: 7em;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #292929;
  border: none;
  cursor: pointer;
  margin-left: 1em;
}

.svgIcon {
  width: 12px;
  transform: rotate(-90deg);
}

.svgIcon path {
  fill: #f0f0f0;
}

.cardContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1em;
}

@media screen and (min-width: 768px) {
  .selectContainer {
    margin-left: 2em;
    margin-right: 2em;
  }
}